@import "~devicons/css/devicons.min.css";

:root {
    --keyword: #66b191;
    --constant: #c4c0c0;
    --function: #b4758d;
}

.code-block {
    font-size: 13px;
    background-color: var(--medium-dark);
    border-radius: 7px;
    max-width: fit-content;
    border: solid 1px var(--accent-50);
    margin-top: 0.7em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: #999;
}

.token.punctuation {
    color: #ccc;
}

.token.tag,
.token.attr-name,
.token.namespace,
.token.deleted {
    color: #e2777a;
}

.token.function-name {
    color: #6196cc;
}

.token.boolean,
.token.number,
.token.function {
    color: var(--function);
}

.token.property,
.token.class-name,
.token.constant,
.token.symbol {
    color: var(--constant);
}

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
    color: var(--keyword);
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
    color: #7ec699;
}

.token.operator,
.token.entity,
.token.url {
    color: var(--accent);
}

.token.important,
.token.bold {
    font-weight: bold;
}
.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}

.token.inserted {
    color: green;
}
