:root {
	--google-red: #ea4335;
	--google-yellow: #fbbc05;
	--google-green: #34a853;
	--google-blue: #4285f4;
}

g.google > path {
	fill: var(--text-darkest);
}

svg:hover > g.google > * {
	transition: 0.3s ease-in-out;
}

svg:hover > g.google > path.s1 {
	fill: var(--google-blue);
}

svg:hover > g.google > path.s2 {
	fill: var(--google-green);
}

svg:hover > g.google > path.s3 {
	fill: var(--google-yellow);
}

svg:hover > g.google > path.s4 {
	fill: var(--google-red);
}
