.icon:hover,
a.icon:hover {
	color: var(--accent-t);
}

.pink-icon {
	transition: 0.3s ease;
}

.pink-icon:hover {
	color: var(--accent);
}

.icon,
a.icon {
	color: var(--dark);
	transition: 0.3s ease;
}

a.github:hover {
	color: #eaeaea;
}

a.twitter:hover {
	color: #1d9bf0;
}

a.linkedin:hover {
	color: #0a66c2;
}

a.mail:hover {
	color: #d9463e;
}
