@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
@import "code.css";
@import "project.css";
@import "~react-tippy/dist/tippy.css";
@import "spotify.css";
@import "icons.css";

:root {
    --text-color: #9199a0;
    --text-darker: #61686f;
    --accent: #a385b3;
    --sub-accent: rgba(163, 132, 179, 0.56);
    --accent-t: #b8c5d6;
	--background: #272d2d;
    --accent-t-50: rgba(184, 197, 214, 0.74);
    --dark: #1c2121;
    --medium-dark: rgba(29, 33, 33, 0.78);
    --red: #ff6464;
}

.text-darker {
	color: var(--text-darker);
}

pre,
code,
kbd,
samp,
code[class*='language-*'],
pre[class*='language-*'] {
	border-radius: 7px;
}

html,
body {
	font-family: 'JetBrains Mono', monospace;
	background-color: var(--background);
}

html {
	color: var(--text-color);
}

a {
	outline: 0;
	color: var(--dark);
	transition: 0.3s ease;
}

a:hover {
    color: var(--accent-t);
}

button.dark {
	color: var(--medium-dark);
}

.grid {
	max-height: fit-content;
}

.container > a {
	padding-right: 0.7em;
}

.navbar {
	background-color: var(--medium-dark);
	padding-bottom: 0.7em;
}

.navbar.active {
    min-width: 100%;
    background-color: var(--medium-dark);
    border-bottom: solid var(--sub-accent) 1px;
}

.button {
	max-height: max-content;
	max-width: fit-content;
}

.nav-button {
	color: var(--text-color);
	padding: 0.4em 100% 0.4em 0.4em;
	border-radius: 7px;
}

.nav-button:hover {
	color: var(--accent);
	background-color: var(--dark);
}

.nav-container {
	min-width: 100%;
	padding: 0.3em 0 0 0.3em;
}

button.close {
	color: var(--medium-dark);
}

button.close:hover {
	color: var(--red);
}

.fit {
	max-height: max-content;
	max-width: max-content;
}
